/*Navigatio*/

#nav {

}
#navsm {
  display: inline-block;
}

#navsm img {
  padding: 2%;
  float: right;
}

#navlinks{
  display: inline-block;
}

#navlinks a {
  float: left;
  padding: 2%;
  text-decoration: none;
}

#hey:nth-child(1)
{
color: #40c1ac;
margin-right: 10px;
}

#hey:nth-child(2),
#hey:nth-child(5)
{
background-color: #ee0789;
}

#hey:nth-child(3)
{
background-color: #ffef03;
}

#hey:nth-child(4)
{
background-color: #40c1ac;
}


/*HomePage*/
#index{
  text-align: center; 
}
#index img {
  width: 80%;
  height: auto;
}


/*About Page */

#AboutImage{
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  height: 100%;
  width: auto;
  }

 #tagline {
  text-align: center;
  font-style:italic;
 }



/* Experience Page   Portfolio Page */ 
 
 #center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
 }

#box {
  padding: 1.2%;
  height: 260px;

}

#box:nth-child(1){
  background-color: rgba(64, 193, 172, 0.7);
}

#box:nth-child(1):hover{
  background-color: rgba(64, 193, 172, 1);
}

#box:nth-child(2){
  background-color: rgba(238, 7, 137, 0.7);
}
#box:nth-child(2):hover{
  background-color: rgba(238, 7, 137, 1);
}

#box:nth-child(3){
  background-color: rgba(255, 239, 3, 0.7);
}
#box:nth-child(3):hover{
  background-color: rgba(255, 239, 3, 1);
}

/*Portfolio Page */ 
#grid {
  padding: 1.2%;
  height: 220px;
}

#grid:nth-child(1){
  background-color: rgba(64, 193, 172, 0.7);
}

#grid:nth-child(1):hover{
  background-color: rgba(64, 193, 172, 1);
}

#grid:nth-child(2){
  background-color: rgba(238, 7, 137, 0.7);
}
#grid:nth-child(2):hover{
  background-color: rgba(238, 7, 137, 1);
}

#grid:nth-child(3){
  background-color: rgba(255, 239, 3, 0.7);
}
#grid:nth-child(3):hover{
  background-color: rgba(255, 239, 3, 1);
}

/*Skills Page */ 
#stack {
  padding: 1.2%;
  height: 280px;
}

#stack:nth-child(1){
  background-color: rgba(64, 193, 172, 0.7);
}

#stack:nth-child(1):hover{
  background-color: rgba(64, 193, 172, 1);
}

#stack:nth-child(2){
  background-color: rgba(238, 7, 137, 0.7);
}
#stack:nth-child(2):hover{
  background-color: rgba(238, 7, 137, 1);
}

#stack:nth-child(3){
  background-color: rgba(255, 239, 3, 0.7);
}
#stack:nth-child(3):hover{
  background-color: rgba(255, 239, 3, 1);
}